html, body, #root, .routes {
  height: 100%;
}

body {
  font-family: Raleway, sans-serif;
	margin:0;
	padding:0;
}

a,
button {
	appearance: none;
}

a:focus,
button:focus {
	outline: 1px dashed rgba(0, 0, 0, 0.2);
}

.root {
  background-color: #F5F5F5;
  overflow-x: hidden;
}

.center { text-align: center; }
.left { text-align: left; }

.p-top20 { padding-top: 20px; }
.p-bottom20 { padding-bottom: 20px; }
.p-top30 { padding-top: 30px; }
.p-bottom30 { padding-bottom: 30px; }
.p-top40 { padding-top: 40px; }
.p-bottom40 { padding-bottom: 40px; }
.p-top60 { padding-top: 60px; }
.p-bottom60 { padding-bottom: 60px; }
.vertical30 { padding: 30px 0px; }


/* Wrapper to set the standard width of narrow componnets on the website */
.narrow-wrapper {
  width: 40%;
  margin: 0 auto;
}

/* Wrapper to set the standard width of very narrow componnets on the website */
.x-narrow-wrapper {
  width: 30%;
  margin: 0 auto;
}

/* THIS NEEDS MOVED TO 'ROW' REACT COMPONENT */
.row * {
  display: inline-block;
}

.row *:first-child {
  margin-right: 10px;
}

.last-child-no-margin:last-child {
	margin-right: 0 !important;
}

.work-box::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
	transition: opacity 0.3s ease-in-out;
}

@media only screen and (min-width: 1201px) {
	.work-box:hover::after {
		opacity: 1;
	}
}
@media only screen and (min-width: 1201px) {
	.work-box:hover>div {
		opacity: 1 !important;
		transform: translate(-50%, -50%) !important;
	}
}

@media only screen and (min-width: 1201px) {
	.talent-box:hover>div {
		opacity: 1 !important;
		transform: translateY(0) !important;
	}
}

@media only screen and (max-width: 1200.98px) {
	.talent-box>div,
	.work-box>div {
		display: none;
	}
}

.slick-list {
	width: 100%;
	height: 100%;
}

.slick-dots button {
	opacity: 0;
	cursor: pointer;
}

.slick-dots span:last-child {
	margin-right: 0 !important;
}

.slick-active {
	background-color: #fff;
}

.slick-disabled {
	opacity: 0.5;
}

.feed-carousel .slick-list {
	width: calc(100% + 10px);
	margin: 0 -5px;
}

.feed-carousel .slick-slide>div {
	padding: 0 5px;
}